.editor,.output{
    /* border: 1px solid #000; */
    height: 100vh;
    width: 49%;
    overflow-y: auto;
    
}
#code,#preview{
    height: 90vh;
    white-space: pre;
}
#code{
    outline: none;
}
.bar{
    width:10px;
    background-color: aqua;
}
.bg-purple{
    background-color: #754ffe;
}